<div class="footer">
           
    <div class="contact">
        <h2>Contacts</h2>
        <p><span>Brand:</span>HDKingK shop</p>
        <p><span>Address:</span>144PhamPhuThu,P4,Q6,TP.HCM</p>
        <p><span>Email:</span> khoahdgcs18238@fpt.edu.vn <p>
        <p><span>Tel:</span> 0706696625</p>
    </div>
    <div class="link">
        <p>nono &copy; All Right Reserved</p>
    </div>