<%- include('partials/header') -%>

<!DOCTYPE html>
<html>
<head>


</head>
<body>




<div class="card">
  <iframe width="560" height="315"
  src="https://www.youtube.com/embed/P20ASB1MdnI?&autoplay=1"></iframe></h1>
</div>

  
    <div class="card">
      <h3 style="color: black;">PRODUCTS</h3>
      <div class="fakeimg"><p><img src="https://steamcdn-a.akamaihd.net/steam/apps/578080/header.jpg?t=1592294718" width ="auto"></p></div>
   
      <div class="fakeimg"><p><img src="https://img.4gamers.com.tw/ckfinder-vn/image2/auto/2020-05/gta%20v-200514-124209.jpg?versionId=NUQgv830ZsPhxQrpr9eZuFPDi7SK9HSn" width ="auto"></p></div>
      <div class="fakeimg"><p><img src="https://image.thanhnien.vn/660/uploaded/game/upload/image/article/2016/07/29/b897e7e09f79ecdcbd8cb987c0ab8f6d.jpg" width ="auto"></p></div>
    </div>
    <div class="card">
      <h3>HDKingK shop</h3>
      <p>144 Phạm Phú Thứ phường 4 quận 6</p>
     <p> Hồ Chí Minh.</p> 
    </div>
  </div>
</div>