

<html>
    <%- include('partials/header') -%>

    <body>
        <H2> Login page </H2>
        <form action="login">
            <P>Username: <input type="text" name="username"></P>
            <P>Password: <input type="password" name="password"></P>
            <P><input type="submit" value="Login"></P>
        </form>

		<P> Msg: <%=mesg%> </P>

        <%- include('partials/footer') -%>
    </body>
</html>