<%- include('partials/header') -%>

  <HR>
    <div class="alert alert-primary">
      <H1>
        PERSONAL PROFILE PAGE ! - 
          <%= stafflist[0].Name %>
        </H1>
    </div>
    <HR>

    <a href="/staffs"> ALL Staffs </a>

    <P><img src="/images/<%= stafflist[0].urlImg%>"></P>



<%- include('partials/footer') -%>
